
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a list", new_list_path, class: "btn btn-flat" %>
</div>

<div class="row">
  <% @lists.each do |list| %>
  <div class="col-md-4">
  <div class="card">
    <h5 class="card-title">
      <% if list.movies.empty? %>
        <%= image_tag "Sala_de_cine.jpg", width: 200 %>
      <% else %>
        <%= image_tag list.movies.first.poster_url, width: 200 %>
      <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <%= link_to "Voir la liste", list_path(list), class: "btn btn-primary" %>
            <% if list.bookmarks.any? %>
              <%= link_to "Voir les détails", list_path(list), class: "btn btn-primary" %>
            <% else %>
              <p>No movies found in this list</p>
            <% end %>
        </div>
</div>
   </div>
    <% end %>
</div>
